*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	/* 1rem = 10px */
	font-size: 62.5%;
}
@media only screen and (max-width: 1440px) {
	html {
		font-size: 57%;
	}
}
@media only screen and (max-width: 768px) {
	html {
		font-size: 55%;
	}
}
@media only screen and (max-width: 375px) {
	html {
		font-size: 53%;
	}
}
body {
	font-family: var(--font-base);
	font-size: 1.6rem;
	background-color: var(--color-primary);
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing: antialiased;
}
