:root {
	--color-primary: #fefceb;
	--color-primary-light: #fcf0b5;
	--color-secondary: #e7c87f;
	--color-grey: #f4f4f4;
	--color-black: #1a1c1c;
	--color-sand: #e3cda8;

	--font-base: 'Clash Grotesk', sans-serif;
}
